<nav class="sidebar" aria-label="Primary Navigation">

    <!-- Logo -->

<button
    class="sidebar__logo"
    data-page="home"
    aria-label="Home">

    <span class="sidebar__logo-text">

        M

    </span>

</button>

    <!-- Navigation -->

    <ul class="sidebar__menu">

        <li class="sidebar__item">

            <button
                class="sidebar__button sidebar__button--active"
                data-page="chat"
                data-tooltip="Chats"
                aria-label="Chats">

                <mm-icon name="chat"></mm-icon>

            </button>

        </li>

        <li class="sidebar__item">

            <button
                class="sidebar__button"
                data-page="calls"
                data-tooltip="Calls"
                aria-label="Calls">

                <mm-icon name="phone"></mm-icon>

            </button>

        </li>

        <li class="sidebar__item">

            <button
                class="sidebar__button"
                data-page="contacts"
                data-tooltip="Contacts"
                aria-label="Contacts">

                <mm-icon name="users"></mm-icon>

            </button>

        </li>

        <li class="sidebar__item">

            <button
                class="sidebar__button"
                data-page="groups"
                data-tooltip="Groups"
                aria-label="Groups">

                <mm-icon name="users-round"></mm-icon>

            </button>

        </li>

        <li class="sidebar__item">

            <button
                class="sidebar__button"
                data-page="saved"
                data-tooltip="Saved"
                aria-label="Saved">

                <mm-icon name="star"></mm-icon>

            </button>

        </li>

        <li class="sidebar__item">

            <button
                class="sidebar__button"
                data-page="search"
                data-tooltip="Search"
                aria-label="Search">

                <mm-icon name="search"></mm-icon>

            </button>

        </li>

        <li class="sidebar__item">

            <button
                class="sidebar__button"
                data-page="settings"
                data-tooltip="Settings"
                aria-label="Settings">

                <mm-icon name="settings"></mm-icon>

            </button>

        </li>

    </ul>

    <!-- User Profile -->

    <button
        class="sidebar__profile"
        aria-label="Profile">

        <img
            src="src/assets/images/default-avatar.png"
            alt="User profile">

    </button>

</nav>